# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.development
.env.production

# Data folders
data/
uploads/

# Logs
logs/
*.log
npm-debug.log*

# Deploy artifacts
deploy/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary files
tmp/
*.tmp
